apiVersion: v1
kind: Secret
metadata:
  name: registry-secret
  namespace: parlamentsdienste-components
  labels:
    project: parlamentsdienste-components
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: 'Look in PW-Manager for "Parlamentsdienste Github Package Pull Token"'
